<ul class="list-unstyled">
    @foreach (var product in products)
    {
        <li class="media my-3">
            <div class="media-img-wrapper mx-2">
                <a href="/product/@product.Id">
                    <img class="media-img" src="@product.Image" alt="@product.Title" />
                </a>
            </div>
            <div class="media-body">
                <a href="/product/@product.Id">
                    <h4 class="mb-0">@product.Title</h4>
                </a>
                <p>@product.Description</p>
                @if (product.OriginalPrice > product.Price)
                {
                    <h6 class="text-muted original-price">$@product.OriginalPrice</h6>
                }
                <h5 class="price">$@product.Price</h5>
            </div>
        </li>
    }
</ul>

@code {
    List<Product> products = new List<Product>
    {
        new Product {
            Id = 1,
            CategoryId = 1,
            Title = "The Hitchhiker's Guide to the Galaxy",
            Description = "The Hitchhiker's Guide to the Galaxy (Sometimes referred to as HG2G, HHGTTG, H2G2, or tHGttG) is a commedy science fiction series created by Douglas Adams",
            Image = "https://upload.wikimedia.org/wikipedia/en/b/bd/H2G2_UK_front_cover.jpg",
            Price = 9.99m,
            OriginalPrice = 19.99m,
        },
        new Product {
            Id = 2,
            CategoryId = 3,
            Title = "Half-Life 2",
            Description = "Half-Life 2 is a 2004 first-person shooter game develped and published by Valve. Like the original Half-Life, it combines shooting, puzzles, and storytelling, and adds features such as vehicles and physics-based gameplay",
            Image = "https://upload.wikimedia.org/wikipedia/en/2/25/Half-Life_2_cover.jpg",
            Price = 8.19m,
            OriginalPrice = 29.99m,
        }
    };
}

